/* View에 해당하는 CSS */
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 100px;
  overflow: hidden; /* View의 경계를 넘어가는 것은 숨김 */
}

/* Slide에 해당하는 CSS */
.slide {
  display: flex;
  position: relative;
  left: -100px; /* View에 padding-left: 100px가 있어 시작점을 조절하고자 추가 */
  width: calc(24vw * 12); /* (original + clone)의 너비 */
  animation: carouselautoPlay 25s linear infinite;
}

@keyframes carouselautoPlay {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-24vw * 6)); /* original의 너비만큼 이동 */
  }
}

.slide > li {
  width: 24vw; /* 슬라이드 내부 요소 길이 */
  height: 14vw;
}

.slide:hover {
  animation-play-state: paused;
}
