<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.cherish.meeting.model.mapper.ChatMapper">

    <resultMap id="chat" type="chatDto">
        <result column="id" property="id" />
        <result column="kakao_id" property="kakaoId" />
        <result column="nickname" property="nickname" />
        <result column="meeting_id" property="meetingid" />
        <result column="content" property="content" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <insert id="saveChat" parameterType="chatDto">
        INSERT INTO chat (kakao_id, nickname, meeting_id, content)
        VALUES (#{kakaoId}, #{nickname}, #{meetingId}, #{content})
    </insert>

    <select id="getChat" parameterType="map" resultType="chatDto">
        SELECT *
        FROM chat
        WHERE meeting_id = #{meetingId}
    </select>

</mapper>