<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.cherish.meeting.model.mapper.MeetingMapper">
    <insert id="createMeeting" parameterType="int">
        INSERT INTO MEETING (COUPLE_ID)
        VALUES (#{coupleId});
    </insert>
    <select id="getLastMeeting" resultType="int">
        SELECT LAST_INSERT_ID() AS meetingId;
    </select>
    <update id="setMeetingLength" parameterType="int">
        UPDATE MEETING
        SET LENGTH = TIMEDIFF(NOW(), CREATED_AT)
        WHERE ID = #{meetingId};
    </update>
    <select id="getMeetingsByMonth" parameterType="map" resultType="String">
        SELECT DISTINCT(DATE_FORMAT(CREATED_AT,'%Y-%m-%d')) FROM MEETING
        WHERE COUPLE_ID=#{coupleId}
        AND DATE_FORMAT(CREATED_AT,'%Y-%m')=#{yearMonth};
    </select>
    <select id="getMeetingsByDate" parameterType="map" resultType="meetingDto">
        SELECT * FROM MEETING
        WHERE COUPLE_ID=#{coupleId}
        AND DATE(CREATED_AT)= #{date};
    </select>
    <select id="getChatsByMeeting" parameterType="int" resultType="chatDto">
        SELECT * FROM CHAT
        WHERE MEETING_ID = #{meetingId}
    </select>
    <select id="getClipsByMeeting" parameterType="int" resultType="clipDto">
        SELECT * FROM CLIP
        WHERE MEETING_ID = #{meetingId}
    </select>
</mapper>